%fieldset
  %legend Briefing
  .row
    .span5
      = form.labeled_input :firstname
      = form.labeled_input :lastname
      = form.labeled_input :note, :text_area
      = form.labeled_input :birthdate, :date_field
    .span5
      = render 'form_groups', :form => form
%fieldset
  %legend Contact
  = form.nested_resource :emails
  = form.nested_resource :phones
  = form.nested_resource :addresses
%fieldset
  %legend Documents
  .row
    .span5
      = form.labeled_input :doc_cpf
      = form.labeled_input :doc_rg
