<fieldset>
  <legend>Briefing</legend>
  <div class="control-group">
    <%= form.label :firstname, :class => 'control-label' %>
    <div class="controls">
      <%= form.text_field :firstname %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :lastname, :class => 'control-label' %>
    <div class="controls">
      <%= form.text_field :lastname %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :note, :class => 'control-label' %>
    <div class="controls">
      <%= form.text_area :note %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :birthdate, :class => 'control-label' %>
    <div class="controls">
      <%= form.text_field :birthdate %>
    </div>
  </div>
  <%= render 'form_groups', :form => form %>
</fieldset>
<fieldset>
  <legend>Contact</legend>
  <%= form.nested_resource :emails %>
  <%= form.nested_resource :phones %>
  <%= form.nested_resource :addresses %>
</fieldset>
<fieldset>
  <legend>Documents</legend>
  <div class="control-group">
    <%= form.label :doc_cpf, :class => 'control-label' %>
    <div class="controls">
      <%= form.text_field :doc_cpf %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :doc_rg, :class => 'control-label' %>
    <div class="controls">
      <%= form.text_field :doc_rg %>
    </div>
  </div>
</fieldset>

