%fieldset
  .row
    .span5
      = form.labeled_input :title
      = form.labeled_input :description, :text_area
      / # = form.labeled_input :responsible
    .span5
      = form.labeled_input :estimated_time
      = form.labeled_input :real_time
      = form.labeled_input :task_status_id, :domain_field, :domain => Projects::TaskStatus.order(:percent)
