%fieldset
  .row
    .span6
      = form.labeled_input :title
      = form.labeled_input :description, :text_area
      = form.labeled_input :responsible_id, :domain_field, :domain => @colaborators, :include_blank => true
      = form.labeled_input :fixture_id, :domain_field, :domain => @fixtures, :include_blank => true
    .span6
      = form.labeled_input :estimated_effort
      = form.labeled_input :real_effort
      = form.labeled_input :task_status_id, :domain_field, :domain => Projects::TaskStatus.order(:percent)
