%fieldset
  %legend Briefing
  .row
    .span5
      = form.labeled_input :title
      = form.labeled_input :description, :text_area
      = form.labeled_input :manager
    .span5
      = form.labeled_input :start_date, :date_field
      = form.labeled_input :end_date, :date_field
      = form.labeled_input :domain_id, :domain_field, :domain => Projects::Status
