.view.view-projects_project
  %input#projects_project_id{:type => :hidden, :value => @row.id}
  .row
    .span5
      %p
        %b= @row.class.human_attribute_name(:manager)+":"
        = @row.manager
        %br
        %b= @row.class.human_attribute_name(:status)+":"
        = @row.status.value
      %p
        %b= @row.class.human_attribute_name(:colaborators)+":"
        = @row.colaborators.join ', '
    .span5
      = parse_text @row.description
  %h3= t 'projects/tasks'
  %ul.sortable.projects_tasks
    = render :partial => 'list_task', :collection => @row.tasks.roots.order(:index_position).all, :as => :task
