= form_for @row, :html => { :class => 'form-horizontal' }, :builder => CrudHelper::Forms::FormBuilder do |form|
  - if @row.errors.any?
    .alert.alert-error
      %h4= t :validation_errors
      %ul
        - @row.errors.full_messages.each do |msg|
          %li
            = msg
  = render 'form_fields', :form => form
  - if can? :update, @row
    = form.submit :class => 'btn btn-primary'
  - if @row.id and can?(:destroy, @row)
    = link_to 'Delete', @row, :class => 'btn btn-link', :method => 'delete', :confirm => 'Are you sure?'