= form_tag '', :method => :get, :class => 'form-inline' do
  = text_field_tag :q, params[:q]
  = submit_tag t(:search), :class => 'btn'
  - if params[:q]
    = link_to t(:clear_search), polymorphic_url(@template_row.class), :class => 'btn'
%table.table.table-hover
  %thead
    %tr
      - @table_list_columns.each do |h|
        %th
          = @template_row.class.human_attribute_name h
      %th
  %tbody
    - @list.each do |row|
      - if can? :read, row
        %tr
          - @table_list_columns.each do |c|
            %td
              = row.send(c)
          %td
            - if can? :read, row
              = link_to polymorphic_url(row, :page => params[:page]), :class => 'view'  do
                %i.icon-eye-open{:title => t(:view)}
            - if can? :update, row
              = link_to edit_polymorphic_url(row, :page => params[:page]), :class => 'edit' do
                %i.icon-pencil{:title => t(:edit)}
            - if can? :destroy, row
              = link_to row, :method => 'delete', :confirm => 'Are you sure?', :class => 'destroy' do
                %i.icon-remove{:title => t(:remove)}
= will_paginate @list