<%= form_for @row, :html => { :class => 'form-horizontal' }, :builder => CrudHelper::Forms::FormBuilder do |form| %>
  <% if @row.errors.any? %>
  <div class="alert alert-error">
    <h4><%= t :validation_errors %></h4>
    <ul>
    <% @row.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= render 'form_fields', :form => form %>

  <%= form.submit :class => 'btn btn-primary' %>
  <% if @row.id %>
  <%= link_to 'Delete', @row, :class => 'btn btn-link', :method => 'delete', :confirm => 'Are you sure?' %>
  <% end %>
<% end %>

