<%= form_for @row, :html => { :class => 'form-horizontal' }, :builder => CrudHelper::FormBuilder do |form| %>
  <% if @row.errors.any? %>
  <div class="area messages">
    <ul>
    <% @row.errors.full_messages.each do |msg| %>
      <li class="error"><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= render 'form_fields', :form => form %>

  <%= form.submit :class => 'btn btn-primary' %>
  <% if @row.id %>
  <%= link_to 'Delete', @row, :class => 'btn', :method => 'delete', :confirm => 'Are you sure?' %>
  <% end %>
<% end %>

