<fieldset>
  <legend>Briefing</legend>
  <div class="control-group">
    <%= form.label :fantasy_name, :class => 'control-label' %>
    <div class="controls">
      <%= form.text_field :fantasy_name %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :legal_name, :class => 'control-label' %>
    <div class="controls">
      <%= form.text_field :legal_name %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :note, :class => 'control-label' %>
    <div class="controls">
      <%= form.text_area :note %>
    </div>
  </div>
</fieldset>
<fieldset>
  <legend>Contact</legend>
  <%= form.nested_resource :emails %>
  <%= form.nested_resource :phones %>
</fieldset>
<fieldset>
  <legend>Documents</legend>
  <div class="control-group">
    <%= form.label :doc_cnpj, :class => 'control-label' %>
    <div class="controls">
      <%= form.text_field :doc_cnpj %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :doc_ie, :class => 'control-label' %>
    <div class="controls">
      <%= form.text_field :doc_ie %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :doc_im, :class => 'control-label' %>
    <div class="controls">
      <%= form.text_field :doc_im %>
    </div>
  </div>
</fieldset>
