%fieldset
  %legend Briefing
  .row
    .span5
      = form.labeled_input :fantasy_name
      = form.labeled_input :legal_name
      = form.labeled_input :note, :text_area
      = form.labeled_input :representant
    .span5
      = render 'form_groups', :form => form
%fieldset
  %legend Contact
  = form.nested_resource :emails
  = form.nested_resource :phones
  = form.nested_resource :addresses
%fieldset
  %legend Documents
  .row
    .span5
      = form.labeled_input :doc_cnpj
      = form.labeled_input :doc_ie
      = form.labeled_input :doc_im
