= form.label :street
= form.text_field :street
= form.label :neighborhood
= form.text_field :neighborhood
= form.label :postal_code
= form.text_field :postal_code
= form.label :state
= form.text_field :state
.input-append
  = form.label :country
  = form.text_field :country
  %span.add-on.item-remove
    %i.icon-remove