<%= form.label :street %>
<%= form.text_field :street %>
<%= form.label :neighborhood %>
<%= form.text_field :neighborhood %>
<%= form.label :postal_code %>
<%= form.text_field :postal_code %>
<%= form.label :state %>
<%= form.text_field :state %>
<div class="input-append">
  <%= form.label :country %>
  <%= form.text_field :country %>
  <span class="add-on item-remove"><i class="icon-remove"></i></span>
</div>
