!!!
%html
  %head
    %title Infobits
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "#"} Infobits
          .nav-collapse.collapse
            %ul.nav
              = link_nav t(:contacts), contact_contacts_path
              = link_nav t("projects/projects"), projects_projects_path
              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}= t(:administration)
                %ul.dropdown-menu{:role => 'menu'}
                  = link_nav t("contacts/groups"), contact_groups_path
                  = link_nav t("projects/statuses"), projects_statuses_path
            - if user_signed_in?
              %p.navbar-text.pull-right
                Signed in as #{current_user.email}.
                \#{link_to t(:sign_out), destroy_user_session_path, :method => 'delete'}
          / /.nav-collapse
    .system-messages
      - if flash[:notice]
        .alert.alert-success
          %button.close{"data-dismiss" => "alert", :type => :button}
            &times;
          = flash[:notice]
      - if flash[:alert]
        .alert.alert-error
          %button.close{"data-dismiss" => "alert", :type => :button}
            &times;
          = flash[:alert]
    .top-effect
      .container
        - if @breadcrumbs
          %ul.breadcrumb
            - @breadcrumbs[0..-2].each do |txt, url|
              %li= link_to txt, url
              %span.divider /
            %li.active= @breadcrumbs.last.first
        .row
          .span6
            %h1.title= @title
            %span.subtitle= @subtitle
          .span6.text-right
            = render 'action_buttons'
    .container
      .row
        .span10.content
          = yield
        .span2.sidebar
    #footer
      .container
        %p.muted.credit
          Desenvolvido por
          = succeed "." do
            %a{:href => "https://bitbucket.org/dimrsilva", :target => "_blank"} Anderson R. Silva