!!!
%html
  %head
    %title Infobits
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "#"} Infobits
          .nav-collapse.collapse
            = render 'menu'
          / /.nav-collapse
    .top-effect
      .container
        / - if @breadcrumbs
        /   %ul.breadcrumb
        /     - @breadcrumbs[0..-2].each do |txt, url|
        /       %li= link_to txt, url
        /       %span.divider /
        /     %li.active= @breadcrumbs.last.first
        .row
          .span8
            %h1.title= @title
            %span.subtitle= @subtitle
          .span4.text-right.action-buttons
            = render 'action_buttons'
    .container
      .row
        .span10.content
          .system-messages
            - if flash[:notice]
              .alert.alert-success
                %button.close{"data-dismiss" => "alert", :type => :button}
                  &times;
                = flash[:notice]
            - if flash[:alert]
              .alert.alert-error
                %button.close{"data-dismiss" => "alert", :type => :button}
                  &times;
                = flash[:alert]
          = yield
        .span2.sidebar
    #footer
      .container
        %p.muted.credit
          Desenvolvido por
          = succeed "." do
            %a{:href => "https://bitbucket.org/dimrsilva", :target => "_blank"} Anderson R. Silva
    = javascript_include_tag "application"
